@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

@import url(/assets/fonts/HurmeGeometricSans1-Black.otf);

@font-face {
    font-family: 'HurmeGeometricSans';
    src: url('/assets/fonts/HurmeGeometricSans1-Black.otf') format('opentype');
}

:root {
    --font-family-primary: 'HurmeGeometricSans';
}

body {
    font-family: var(--font-family-primary);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px); /* Começa 30px abaixo */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Vai para a posição original */
    }
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    min-height: 100vh; /* Permite que o body cresça conforme o conteúdo */
    background-image: url(/assets/others/background.jpg);
    background-size: cover;
    background-color: lightgray;
    background-attachment: fixed;
}

h1, h2 {
    text-align: center;
    color: rgb(10, 93, 167); /* Cor harmonizada com a paleta de cores */
}

h2 {
    font-size: 16px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f6f6f6;
    padding: 15px 15px;
    width: 100%;
    float: left;
}

img{
    width: 100%;
}

#logo{
    width: 4%;
}

header {
    display: flex;
    font-family: verdana;
    background-color: white;
    color: rgb(23, 172, 138);
    text-align: center;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px 0 black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 70px;
    margin-bottom: 70px;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 80%;
    background-color: #f6f6f6;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px black;
    padding: 25px;
}

.hidden{
    display: none;
}

#adicionar-produto {
    padding: 10px 15px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7%;
}

#remover-ultimo-produto{
    padding: 10px 15px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

#produto-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imagem-produto{
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
}

.codigo-produto{
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #e0d8d8;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 2px solid rgb(10, 93, 167);
    outline: none;
}

.codigo-produto:focus::placeholder {
    color: transparent; /* Faz o placeholder sumir ao focar */
}

#generate-pdf{

    padding: 15px 20px;
    width: 30%;
    border: none;
    background-color: rgb(10, 93, 167);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.dilution-container {
    position: relative;
    display: inline-block;
}

.dilution-input {
    position: absolute;
    top: 57.6%; /* Ajusta a posição vertical */
    left: 42.2%; /* Ajusta a posição horizontal */
    transform: translate(-50%, -50%);
    font-family: var(--font-family-primary);
    width: 3%;
    height: 9%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente */
    text-align: center;
    font-size: 12px;
    animation: fadeIn 3s ease-in-out forwards;
    resize: none;
    outline: none;
    overflow: hidden;
}

.dilution-input::placeholder{
    color: rgb(97, 97, 97);
    text-align: center;
    font-size: 10px;
}

.finalidade-input {
    position: absolute;
    top: 3.2%; /* Ajusta a posição vertical */
    left: 56.7%; /* Ajusta a posição horizontal */
    transform: translate(-50%, -50%);
    width: 43%;
    font-size: 18px;
    font-weight: bold;
    color: #e0d8d8;
    height: 11.5%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente */
    text-align: center;
    outline: none;
    animation: fadeIn 3s ease-in-out forwards;
    resize: none;
    overflow: hidden;
}

.finalidade-input::placeholder{
    color: rgb(97, 97, 97);
    text-align: center;
}

.ident-input {
    position: absolute;
    top: 48.5%; /* Ajusta a posição vertical */
    left: 2%; /* Ajusta a posição horizontal */
    transform: translate(-50%, -50%);
    width: 4%;
    font-size: 19px;
    font-weight: bold;
    color: #e0d8d8;
    height: 14%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente */
    text-align: center;
    outline: none;
    animation: fadeIn 3s ease-in-out forwards;
    resize: none;
    overflow: hidden;
}

.ident-input::placeholder{
    color: rgb(97, 97, 97);
    text-align: center;
}

.dilution-input, .finalidade-input, .ident-input {
    transition: background-color 0.7s ease; /* Duração e suavidade da transição */
}

.image-upload {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-preview {
    width: 200px; /* Tamanho desejado */
    height: 200px;
    border: 1px solid rgb(10, 93, 167);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer; /* Cursor de mão para indicar clicável */
    text-align: center;
}

.image-preview img {
    max-width: 100%;
    max-height: 100%;
}

.consultor{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empresa{
    box-sizing: border-box;
    border: none;
    text-align: left;
    padding: 10px 20px;
    background-color: #e0d8d8;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid rgb(10, 93, 167);
    outline: none;
    text-align: center;
    border-radius: 4px;
    
}

.image-upload {
    position: relative;
    display: inline-block;
  }

.tooltip {
    visibility: hidden; /* Oculta o texto por padrão */
    background-color: rgba(1, 1, 1, 0.7);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    width: 90%;
    position: absolute;
    bottom: 10%;
    left: 5%;
    
    opacity: 0;
    transition: opacity 0.3s;
  }

  .image-upload:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

#consultor-tecnico{
   
    box-sizing: border-box;
    border: none;
    text-align: left;
    width: 100%;
    padding: 10px 55px;
    background-color: #e0d8d8;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid rgb(10, 93, 167);
    outline: none;
    border-radius: 4px;
}

select:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

hr {
    width: 100%;                 /* Define a largura */
    border: none;               /* Remove a borda padrão */
    height: 2px;                /* Define a altura da linha */
    background-color: rgb(10, 93, 167); /* Define a cor */
    margin: 20px auto;          /* Centraliza a linha e adiciona um espaçamento vertical */
}

@media (max-width: 999px) {
    img {
        width: 8%;
    }
}
